<?xml version="1.0"?>
<!--
/**
 * Affilify Tracking Module - Admin Configuration
 *
 * @copyright Copyright (c) 2024 Affilify
 * @license   MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system.xsd">
    <system>
        <tab id="affilify" translate="label" sortOrder="400">
            <label>Affilify</label>
        </tab>
        <section id="affilify_tracking" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Conversion Tracking</label>
            <tab>affilify</tab>
            <resource>Affilify_Tracking::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable affiliate conversion tracking.</comment>
                </field>
                <field id="api_key" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment><![CDATA[Your Affilify API Key. You can find it in your Affilify dashboard under Advertiser > API tab.]]></comment>
                    <validate>required-entry</validate>
                </field>
                <field id="api_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API URL</label>
                    <comment><![CDATA[Leave empty for default (https://dashboard.affilify.it/api/track). Change only for testing.]]></comment>
                </field>
                <field id="parameter_name" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Parameter Name</label>
                    <comment>The URL parameter name to capture (e.g., affilify_id, ref, aff).</comment>
                </field>
                <field id="cookie_duration" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Duration (Days)</label>
                    <comment>Number of days to keep the tracking cookie.</comment>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="debug_mode" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable verbose logging for troubleshooting. Logs will be written to var/log/affilify_tracking.log</comment>
                </field>
            </group>
        </section>
    </system>
</config>
