<?xml version="1.0"?>
<!--
/**
 * Affilify Tracking Module - Frontend Events Configuration
 *
 * @copyright Copyright (c) 2024 Affilify
 * @license   MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Click capture is now handled by CaptureClickPlugin for proper cookie timing -->

    <!-- Track conversion on successful checkout -->
    <event name="checkout_onepage_controller_success_action">
        <observer name="affilify_tracking_track_conversion"
                  instance="Affilify\Tracking\Observer\TrackConversionObserver"/>
    </event>
</config>
